/* variables.module.scss */
$default-margin: 200px;

.card {
	margin-left: $default-margin;
}

.navBar {
	width: 100%;
	z-index: 1000;
}

.font__image {
	margin-left: -110px;
}

.social__title {
	text-align: center;
}

.images {
	border-radius: 10px;
}
